@media ( max-width: 600px )
    .header
        &__menu
            &-logo
                margin: 0 auto
            &-btn
                display: none
    .main
        background-size: 10%
        &__content
            padding-top: 0 !important
            margin-bottom: 45px
        h1
            font-size: 30px !important
            line-height: 40px !important
        h2
            padding-top: 30px !important
        &__bg
            background-size: contain !important
            min-height: 50vh !important
            width: 90%
            margin-left: 40px !important
    .main2
        background-size: 10%
        &__content
            padding-top: 0 !important
            margin-bottom: 45px
        &__bg
            background-size: contain !important
            min-height: 40vh !important
            width: 90%
            margin-left: 40px !important
    .offer
        background-size: 50vh !important
        &__content
            margin-top: 50px
            margin-bottom: 40px
            &_btn
                .business_online
                    margin-left: 15px
        .offset-2
            margin-left: 0
    .about_us
        padding-bottom: 0
        margin: 60px 0 !important
    .about_us2
        background-size: 10%
        h1
            padding-top: 0px !important
        p
            padding-bottom: 30px !important
        &__bg
            background-size: contain !important
            min-height: 30vh !important
            width: 90%
            margin-left: 40px !important
    .stages
        &__content
            &_text
                margin-top: 50px !important 
                p
                    margin-top: 30px !important
            ul
                display: flex
                flex-direction: row
                width: auto
                overflow: scroll;
                li
                    min-width: 80vw
    .request
        background-size: 50vh !important 
        padding-bottom: 250px !important
        &__descr
            padding-bottom: 30px
        &__form_btn
            input[type=submit]
                width: 70% !important
        &__form-content
            margin-left: 0

    .footer
        &__1
            margin-bottom: 50px
            p
                padding-right: 87px
        &__2
            margin: 0
        &__3
            margin-top: 50px

@media screen and ( height: 812px )
    .offer
        background-size: 41vh !important
    .request
        background-size: 41vh !important
@media screen and ( min-width: 1920px )
    .container-fluid
        padding-left: 400px !important
    .main
        h1
            padding-top: 100px
    .main2
        h1
            padding-top: 100px

@media screen and ( width: 1024px )
    .container-fluid
        padding-left: 50px !important

@media screen and ( min-width: 1500px )
    .container-fluid
        padding-left: 200px !important

@media screen and ( width: 1440px )
    .container-fluid
        padding-left: 165px 
    .main
        &__bg
            background-size: 90vh !important 

@media screen and ( min-width: 2880px )
    .container-fluid
        padding-left: 888px !important 
    .main
        h1
            padding-top: 488px !important 

@media screen and ( min-width: 2560px )
    .container-fluid
        padding-left: 720px !important
    .main
        h1
            padding-top: 420px
        
    
