@media ( max-width: 576px )
    .header
        &__menu
            &-logo
                margin: 0 auto
            &-btn
                display: none
    .main
        background-size: 10%
        &__content
            padding-top: 0 !important
        &__bg
            background-size: contain !important
            min-height: 60vh !important
    .main2
        background-size: 10%
        &__content
            padding-top: 0 !important
        &__bg
            background-size: contain !important
            min-height: 40vh !important

    .offer
    .about_us
        padding-bottom: 0
    .about_us2
        background-size: 10%
        h1
            padding-top: 0px
        &__bg
            background-size: contain !important
            min-height: 30vh !important
    .request
        padding-bottom: 200px
        background-size: 100% !important
        &__descr
            padding-bottom: 30px
        &__form_btn
            input[type=submit]
                width: 70% !important

    .footer
        &__1
            p
                padding-right: 87px
        &__2
            margin: 0

@media screen and ( min-width: 1920px )
    .main
        h1
            padding-top: 170px

@media screen and ( min-width: 1000px )
    .container-fluid
        padding-left: 200px
    
    
