*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

.main2
    background: url('../img/services/site__background.svg') right no-repeat
    min-height: 60vh
    margin-bottom: 40px     
    padding-top: 71px
    h1
        font-size: 39px
        font-weight: 700
        line-height: 49.74px
        padding-left: 0
        span
            color: #325cfd
    h2
        font-size: 16px
        font-weight: 400
        line-height: 20.54px
        padding-top: 35px
        padding-left: 0
        span
            color: #325cfd
    button
        margin-top: 25px
        color: #ffffff
        font-size: 16px
        font-weight: 400
        padding: 10px 26px 10px 26px
        border-radius: 22px
        background-color: #325cfd
        text-align: center
        border: none
        cursor: pointer


.catalog
    margin-top: 40px
    padding-bottom: 209px
    &__card
        padding-top: 50px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &-item
            width: 350px
            height: 400px
            border-radius: 30px
            cursor: pointer
            transition: .3s
            padding-top: 35px
            margin-bottom: 20px
            &:hover
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
            &_title
                color: #1b1a27
                font-size: 18px
                font-weight: 400
                padding-top: 40px
            img
                display: block
                margin: 0 auto
            p
                font-size: 16px
                font-weight: 400
                line-height: 22.14px
                padding-left: 20px
                padding-right: 24px
            &_price
                color: #325cfd
                font-size: 20px
                font-weight: 700
                padding-left: 199px
             