*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    

.main2
    background: url('../img/services_page/site_bg.svg') no-repeat
    background-position: center center
    background-size: cover
    min-height: 90vh   
    display: flex
    align-items: flex-end 
    h1
        font-size: 38px
        font-weight: 800
        color: #ffffff
        margin-bottom: 150px

.catalog
    margin-top: 200px
    &__item
        padding: 80px 65px 60px 65px
        display: flex
        height: 410px
        h1
            font-weight: 800
            font-size: 24px
            color: #ffffff
            margin-right: 40px
        div
            p
                font-weight: 500
                font-size: 18px
                color: #ffffff
            button
                color: #ffffff
                font-size: 16px
                font-weight: 400
                padding: 13px 30px 13px 30px
                border-radius: 10px
                background-color: #325cfd
                text-align: center
                border: none
                cursor: pointer
    .bg1
        background: url('../img/services_page/catalog_bg1.svg') no-repeat
            

             