*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    

.main2
    background: url('../img/services_page/site_bg.svg') no-repeat
    background-position: center center
    background-size: cover
    min-height: 90vh   
    display: flex
    align-items: flex-end 
    h1
        font-size: 38px
        font-weight: 800
        color: #ffffff
        margin-bottom: 150px

.catalog
    margin-top: 200px
    margin-bottom: 220px
    &__item
        border-radius: 10px 
        padding: 80px 55px 60px 65px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        height: 410px
        margin-bottom: 30px 
        h1
            font-weight: 800
            font-size: 24px
            color: #ffffff
            margin-right: 40px
        div
            
            p
                font-weight: 500
                font-size: 18px
                color: #ffffff
            button
                margin-top: 23px
                color: #ffffff
                font-size: 16px
                font-weight: 400
                padding: 13px 30px 13px 30px
                border-radius: 10px
                background-color: #325cfd
                text-align: center
                border: none
                cursor: pointer
                float: right
                
    .bg1
        background: linear-gradient(0deg, rgba(27, 26, 39, 0.4), rgba(27, 26, 39, 0.4)), url('../img/services_page/catalog_bg1.jpg') no-repeat
        background-size: cover
        background-position: center center
    .bg2
        background: linear-gradient(0deg, rgba(27, 26, 39, 0.4), rgba(27, 26, 39, 0.4)), url('../img/services_page/catalog_bg2.jpg') no-repeat
        background-size: cover
        background-position: center center
    .bg3
        background: linear-gradient(0deg, rgba(27, 26, 39, 0.4), rgba(27, 26, 39, 0.4)), url('../img/services_page/catalog_bg3.png') no-repeat
        background-size: cover
        background-position: center center

             