*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

@import 'media'
@import 'services'

body
    margin: 0
    padding: 0

.title
    color: #1b1a27
    font-size: 27px
    font-weight: 700
    padding-left: 0


.active__header
    .active__menu
        display: none
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
        background-color: #325cfd
        padding-top: 50px
        padding-bottom: 50px
        width: 100%
        top: 0
        position: fixed
        z-index: 100
        div
            display: flex
            justify-content: center
            a
                color: #ffffff
                font-size: 16px
                font-weight: 500
                text-decoration: none
                margin-right: 40px
                &:hover
                    text-decoration: none
                &:last-child
                    margin-right: 0
        .a2
            margin-top: 54px
        .close-btn
            position: absolute
            right: 30px
            top: 25px
            a
                font-size: 30px

.header
    transition: 0.3s ease-out
    &__menu
        margin-top: 40px
        margin-bottom: 40px
        display: flex
        justify-content: space-between
        align-items: center
        .hamburger
            cursor: pointer
        &-btn
            padding: 10px 30px 10px 30px
            color: #ffffff
            font-size: 16px
            font-weight: 400
            text-align: center
            border: none
            border-radius: 23px
            background-color: #325cfd
            cursor: pointer

.slick
    position: fixed
    width: 100%
    background: white
    z-index: 1000
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)


.main
    margin-bottom: 70px
    background: url('../img/main-photo.svg') right top no-repeat
    min-height: 88vh
    padding-top: 150px
    h1
        font-size: 39px
        font-weight: 700
        line-height: 49.74px
        padding-left: 0
        span
            color: #325cfd
    h2
        font-size: 16px
        font-weight: 400
        line-height: 20.54px
        padding-top: 35px
        padding-left: 0
        span
            color: #325cfd
    button
        margin-top: 25px
        color: #ffffff
        font-size: 16px
        font-weight: 400
        padding: 10px 30px 10px 30px
        border-radius: 22px
        background-color: #325cfd
        text-align: center
        border: none
        cursor: pointer


.services
    margin: 100px 0
    &__card
        padding-top: 50px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &-item
            width: 350px
            height: 344px
            text-align: center
            border-radius: 30px
            cursor: pointer
            transition: .3s
            padding-top: 35px
            margin-bottom: 30px
            &:hover
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
                text-decoration: none
            p
                color: #1b1a27
                font-size: 16px
                font-weight: 600
                padding-top: 35px
            button
                margin-top: 25px
                font-size: 16px
                font-weight: 500
                color: #ffffff
                padding: 12px 47px
                background: #325CFD
                border-radius: 22px
                border: none
                

.offer
    margin: 100px 0
    background: url('../img/offer__background.svg') no-repeat
    background-position: left bottom
    min-height: 80vh
    &__descr
        color: #1b1a27
        font-size: 18px
        font-weight: 400
        line-height: 24.91px
        padding-top: 30px
    &__content
        &_btn
            margin-bottom: .5em

            .business_offline
                margin-left: 50px
            a
                background: none
                border: none
                color: #1B1A27
                padding: 0
                font-weight: 700
                text-decoration: none
                transition: all .1s ease
                &.active
                    color: #325CFD
                    border-bottom: 2px solid #325CFD

        &_text
            margin-top: 28px
            ul
                padding-left: 0
                display: none
                transition: all .1s ease
            ul.active
                display: block
                transition: all .1s ease
                div
                    margin-bottom: 10px
                li
                    list-style-type: none
                    padding-left: 15px
                    padding-top: 5px
                    // &:before
                        // content: url('../img/online-business.svg')
                        // display: inline-block
                        // width: 20px
                        // height: 20px
                        // margin-right: 1.3em
        // .business_offline
        //     ul
        //         li
        //             &::before
        //                  content: url('../img/offlinee.svg')


.about_us
    margin: 100px 0
    .title
        padding-bottom: 50px
    &__card
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        width: 350px
        height: 220px
        background-color: #ffffff
        h1
            color: #325cfd
            font-size: 58px
            font-weight: 800
            text-align: center
            padding-top: 40px
            span
                color: #e9002c
                font-weight: 700
        p
            font-size: 16px
            font-weight: 400
            text-align: center
            padding: 0 73px

.about_us2
    background: url('../img/us__background.svg') right no-repeat
    &__content
        h1
            color: #325cfd
            font-size: 18px
            font-weight: 700
            padding-top: 125px
            padding-left: 0
        p
            padding-top: 20px
            padding-bottom: 127px
            padding-left: 0

.stages
    margin: 100px 0
    &__content
        margin-top: 20px
        margin-bottom: 20px
        ul
            list-style-type: none
            padding: 0
            li
                margin-top: 15px
                margin-bottom: 15px
                padding-left: 15px
                -webkit-transition: all .1s ease
                -moz-transition: all .1s ease
                -ms-transition: all .1s ease
                -o-transition: all .1s ease
                transition: all .1s ease
                &.active, &:hover
                    border-left: 2px solid #325cfd
                    // height: 100%
                    a
                        color: #325cfd
                a
                    text-decoration: none
                    // width: 100%
                    color: #1b1a27
                    font-weight: 500
        &_text
            display: none
            img
                margin: 0 auto
                width: 80%
                margin-bottom: 15px
            p
                margin-top: 15px

        .active
            display: block
            img
                display: block
                text-align: center


.request
    margin: 100px 0
    background: url('../img/request__background.svg') no-repeat
    background-position: left bottom
    &__descr
        padding-top: 30px


    &__form
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
        border-radius: 30px
        background-color: #ffffff
        padding: 30px
        &-title
            color: #325cfd
            font-size: 22px
            font-weight: 700
            span
                color: #e9002c
        form
            p
                margin: 25px 0 0 0
            input, textarea
                width: 100%;
                border-radius: 20px
                border: none
                background-color: #f5f5f5
                padding: 10px 20px 10px 20px
                margin-top: 5px
        &_btn
            margin-top: 20px
            display: flex
            justify-content: flex-end
            input[type=submit]
                color: #ffffff
                font-size: 16px
                font-weight: 400
                padding: 10px 35px 10px 35px
                width: 45%
                border-radius: 22px
                background-color: #325cfd
                border: none


.footer
    margin-top: 70px
    padding-top: 140px
    background-color: #325cfd
    padding-bottom: 100px
    &__1
        p
            padding-top: 30px
            color: #ffffff
            font-size: 17px
            font-weight: 400
    &__2
        p
            color: #ffffff
            font-size: 20px
            font-weight: 400
            text-transform: uppercase
        a
            color: #ffffff
            font-size: 15px
            font-weight: 400
            padding-bottom: 15px
            &:hover
                text-decoration: none
        div
            display: flex
            flex-direction: column
    &__3
        color: #ffffff
        font-size: 15px
        font-weight: 400
        &-title
            text-transform: uppercase
            font-size: 20px
        &-email
            font-size: 15px
            color: #ffffff
            &:hover
                text-decoration: none
                color: #ffffff
        &-phone
            padding-top: 15px
            font-size: 15px
            color: #ffffff
            &:hover
                text-decoration: none
                color: #ffffff
        div
            display: flex
            flex-direction: column



